<div class="body">
        <h1>Request Missing Movie</h1>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Movie Title</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Movie Description</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Movie Title</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Movie Title</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>
          <p>
              <span>Poster Image </span> 
              <button mat-icon-button color="primary">
                <mat-icon>open_in_new</mat-icon>
              </button>
        </p>
</div>
