.header {
    background-image: url("/assets/Header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); 
    height: 10%
}
  
.header-right a {
    margin: 10px;
    float: right;
    color: black;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

.header-right button{
  background-color: rgb(207, 207, 207);
  margin: 10px;
  float: right;
}

.header-right button:hover {
  background-color: darkgrey;
  color: black;
}

.logo{
    height: 80px;
    position: fixed;
    top: 10px;
    left: 20px;
}