<div class="header">
    <button mat-fab >
      <p>MR</p>
    </button>
    <div class="header-right">
      <button mat-raised-button *ngIf="!authentificationService.isLoggedIn()" (click)="dialogManagerService.openLogin()">Login</button>
      <button mat-raised-button *ngIf="!authentificationService.isLoggedIn()" (click)="dialogManagerService.openRegister()">Register</button>
      <button mat-raised-button *ngIf="authentificationService.isLoggedIn()" (click)="authentificationService.logout()" style="cursor: pointer;">Logout</button>
      <a *ngIf="authentificationService.isLoggedIn()">{{userService.currentUser?.username}}</a>
    </div>
  </div>
