.body{
    position: inherit;
    height: 100%;
    padding: 20px;
    background: rgb(231, 236, 240);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.moviebox{
    display:inline-block;
    cursor: pointer;
    width: 220px;
    height: 41vh;
    margin: 30px;
    background: rgb(185, 185, 185);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    outline: none;
    text-align: center;
    padding: 5px;
}

.moviebox:hover{
    background: darkgrey;
}

.body img{
    display: block;
    margin: 3px auto 2px auto;
    width:  170px;
    height: 250px;
    object-fit: cover;
}

.body span{
    font-size: 16px;
    font-weight: 600;
}

.body button{
    border: 0;
    background-color: rgb(144, 144, 151);
}