<div class="body">
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
    <div class="moviebox">
        <img  src="assets/harry_potter_poster.jpg">
        <span>Harry Potter: The Philosopher Stone</span>
    </div>
</div>
