<div class="body">

    <input type="text" name="" placeholder="search">
    <button routerLink="/" class="btn btn-link">Search</button><br/>
    <button routerLink="/" class="btn btn-link">Filter</button>
    <button routerLink="/" class="btn btn-link">Sort</button>
    
    <div class="moviebox"><img src="assets/daaa.jfif" alt="" ></div><br/>
    <div class="moviebox"><img src="assets/daaa.jfif" alt="" ></div><br/>
    <div class="moviebox"><img src="assets/daaa.jfif" alt="" ></div><br/>
    <div class="moviebox"><img src="assets/daaa.jfif" alt="" ></div>

</div>
