<div class="navmenu">
    <button (click)="goToTrending()">Trending</button>
    <button *ngIf="!authentificationService.isLoggedIn()" (click)="dialogManagerService.openLogin()"> Watchlist </button>
    <button *ngIf="authentificationService.isLoggedIn()" routerLink="/watchlist"> Watchlist </button>
    <button *ngIf="!authentificationService.isLoggedIn()" (click)="dialogManagerService.openLogin()"> Diary </button>
    <button *ngIf="authentificationService.isLoggedIn()" routerLink="/diary"> Diary </button>
    
    <button *ngIf="userService.isAdmin()" (click)="openAddMovie()"> Add Movie </button>

    <button *ngIf="userService.isAdmin()" routerLink="/movie-requests"> UR </button>
</div>

