.navbar{
    height: 100%;
    position: sticky;
    padding: 20px;
    background: rgb(185, 214, 238);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.navbar button{
  color: black;
  background-color:rgb(185, 214, 238);
  text-align: left;
  padding: 20px;
  text-decoration: none;
  font-size: 28px;
  line-height: 15px;
  border-radius: 10px;
  margin-top: 15px;
  border: 1;
  width: 100%;
}

.navbar button:hover{
    background-color: rgb(136, 197, 247);
    
}
.navbar button:focus{
    background-color: rgb(136, 197, 247);
    outline: none;
}