.mat-card{
    padding: 20px;
    margin: 20px;
    background: rgb(185, 185, 185);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    outline: none;
}

.mat-card:hover{
    background: darkgrey;
}

.media-left img{
    cursor: pointer;
    width: 100px;
}

.media-body{
    margin: 10px;
    word-break:break-word;
}

.reviewtitle{
    font-weight: 500;
    font-size: 15px;
}

.btn-close{
        position: absolute;
        right: 20px;
        top: 20px;
}

.title{
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
}

.reviews{
    margin-bottom: 10px;
}

.rate{
    position: absolute;
    background-color: rgb(140, 135, 211);
    left:130px;
    top: 18px;
}

.star {
    font-size: 1.5rem;
    color: #4274b4;
}

.star:hover {
    cursor: pointer;
}