.mat-card{
    padding: 20px;
    margin: 20px;
    background: rgb(185, 185, 185);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    outline: none;
}

.mat-card:hover{
    background: darkgrey;
}

.media-left img{
    cursor: pointer;
    width: 100px;
}

.btn-close{
        position: absolute;
        right: 20px;
        bottom: 20px;
}

.title{
    cursor: pointer;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}