.body{
    position: inherit;
    height: 100%;
    padding: 20px;
    background: rgb(231, 236, 240);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.body img{
    padding: 10px;
    width: 100px;
}

.moviebox{
    cursor: pointer;
    width: 80%;
    height: 20vh;
    padding: 20px;
    margin-bottom: 20px;
    background: rgb(185, 185, 185);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    outline: none;
}

.moviebox:hover{
    background: darkgrey;
}

.title{
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

.splitscreen {
    display:flex;
  }