<div class="body">
    <div class="splitscreen">
  
        <div class="left">
            <img [src]="movie?.posterImgUrl" alt="" >
            <button (click)="addWatchlist()"><strong>+ </strong>Add to Watchlist</button><br/>
            <button (click)="addDiary()"><strong>+ </strong>Add to Viewed</button>
        </div>
      
        <div class="right">
            <div class="title">
                {{movie?.movieTitle}}
            </div>

            <ngb-rating [max]="10" [(rate)]="rating" [readonly]="false"></ngb-rating>

            <div class="length">{{movie?.lengthMinutes}} minutes | {{movie?.releaseDate | date}}.</div>
            
            <div class="desc"><strong>Description: </strong>{{movie?.movieDesc}} </div>

            <div class="trailer">
                <strong>Trailer: </strong>
                <a (click)="trailerLink()"  >{{movie?.trailerUrl}}</a>
            </div>

            <div class="creators">
                <strong>Director:</strong>
                Daniel Mac
            </div>
            <div class="creators">
                <strong>Writers:</strong>
                G.A. Martin
            </div>
            <div class="creators">
                <strong>Actors:</strong>
                Lopez Algan
            </div>
        </div>
        
    </div>

    <mat-card>
        
        {{reviewsLength}} Reviews

        <p>
            <mat-form-field appearance="standard">
                <mat-label>add review</mat-label>
                <input  matInput placeholder="Placeholder" required>
            </mat-form-field>
        </p>
        
        <div *ngFor = "let review of reviews[movie?.movieId]"> 
            <p>
            <span>{{review.user.username}}  {{review.postDate | date}}</span><br/>
            {{review.reviewText}}
            </p>
        </div>
        
    </mat-card>
</div>