<div class="body">
    <div class="splitscreen">
  
        <div class="left">
            <img [src]="movie?.posterImgUrl" alt="" >
            <button (click)="addWatchlist()"><strong>+ </strong>Add to Watchlist</button><br/>
            <button><strong>+ </strong>Add to Viewed</button>
        </div>
      
        <div class="right">
            <div class="title">
                {{movie?.movieTitle}}
            </div>
            <button mat-fab color="accent" (click)="rateMovie()">
                <span *ngIf="rating?.grade!=0">{{rating?.grade}}</span>
                <span *ngIf="rating?.grade==0" class="star">&#9733;</span>
            </button>
            <div class="length">{{movie?.lengthMinutes}} minutes | {{movie?.releaseDate}}.</div>
            
            <div class="desc"><strong>Description: </strong>{{movie?.movieDesc}} </div>

            <div class="trailer">
                <strong>Trailer: </strong>
                <a href="movie.trailerUrl">{{movie?.trailerUrl}}</a>
            </div>

            <div class="creators">
                <strong>Director:</strong>
                Daniel Mac
            </div>
            <div class="creators">
                <strong>Writers:</strong>
                G.A. Martin
            </div>
            <div class="creators">
                <strong>Actors:</strong>
                Lopez Algan
            </div>
        </div>
        
     </div>
</div>