.mat-card{
    display:inline-block;
    cursor: pointer;
    width: 220px;
    margin: 25px;
    background: rgb(185, 185, 185);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;
}

.mat-card:hover{
    background: darkgrey;
}

.mat-card img{
    width:  170px;
    height: 250px;
}

.mat-card-content{
    font-size: 15px;
    font-weight: 600;
}

.btn-close{
    position: absolute;
    right: -10px;
    top: -10px;
}

.btn-close:hover{
    background-color: rgb(255, 0, 0);
}
