.mat-card{
    width: 220px;
    display:inline-block;
    cursor: pointer;
    width: 220px;
    margin: 30px;
    background: rgb(185, 185, 185);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;
}

.mat-card:hover{
    background: darkgrey;
}

.mat-card img{
    width:  170px;
    height: 250px;
}

.mat-card span{
    font-size: 16px;
    font-weight: 600;
}

.btn-close{
    position: absolute;
    right: -10px;
    top: -10px;
}

.btn-close:hover{
    background-color: rgb(255, 0, 0);
}
