<div class="body">

    <div style="margin-bottom:10px;">
        <input type="text" placeholder="search" [(ngModel)]="searchTags">
        <button mat-raised-button style="margin-left: 20px;" class="" (click)="search()">Search</button><br/>
    </div>
    <div style="margin: 10px auto;">
        <button mat-raised-button (click)="openFilter()">Filter</button>
        <button mat-raised-button style="margin-left:20px;" (click)="openSort()">Sort</button>
    </div>
    <div [routerLink] = "['/movie-details', movie.movieId]" class="moviebox" *ngFor="let movie of movieService.movies">
        <div class="splitscreen">
            <div class="left">
                <img alt="" [src]="movie?.posterImgUrl">
            </div>
            <div class="right"> 
                <div class="title">{{movie.movieTitle}}</div>
                {{movie.movieDesc}}
            </div>
        </div>
    </div>

</div>
