.splitscreen {
  display:flex;
}
.splitscreen .left {
  flex: 15%;
}
.splitscreen .right {
  flex: 85%;
}

mat-sidenav {
  /* padding: 20px; */
  background: rgb(199, 199, 199);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 240px;
}

mat-sidenav-container {
  background-image: url("/assets/SiteBG.jpg");
   position: fixed;
   height: 90%;
   min-height: 90%;
   width: 100%;
   min-width: 100%;
}