<div class="body">

    <input type="text" name="" placeholder="search">
    <button routerLink="/" class="btn btn-link" (click)="getAllMovies()">Search</button><br/>
    <button routerLink="/filter" class="btn btn-link">Filter</button>
    <button routerLink="/" class="btn btn-link">Sort</button>

    <div *ngFor="let movie of movies">
        <div [routerLink] = "['/movie-details', movie.movieId]" class="moviebox">
            <div class="splitscreen">
  
                <div class="left">
                    <img [src]="movie.posterImgUrl" alt="" >
                </div>
              
                <div class="right">
                    <div class="title">{{movie.movieTitle}}</div>
                    {{movie.movieDesc}}
                </div>
                
             </div>
        </div>
    </div>

</div>
