<div class="body">

    <input type="text" name="" placeholder="search">
    <button routerLink="/" class="btn btn-link">Search</button><br/>
    <button class="btn btn-link" (click)="openFilter()">Filter</button>
    <button routerLink="/" class="btn btn-link">Sort</button>

    <div *ngFor="let movie of movieService.movies">
        <div class="moviebox">
            <div class="splitscreen">
  
                <div class="left">
                    <img [src]="movie.posterImgUrl" alt="" >
                </div>
              
                <div class="right"> 
                    <div class="title">{{movie.movieTitle}}</div>
                    {{movie.movieDesc}}
                </div>
                
             </div>
        </div>
    </div>

</div>
