<div class="container-fluid">
    
        <mat-card *ngFor="let movie of movies">
    
            <div class="media">
          
                <div class="media-left">
                    <img [src]="movie?.posterImgUrl" alt="" >
                </div>
              
                <div class="media-body">
                    
                    <div class="title">
                        {{movie?.movieTitle}}
                    </div>
        
                    <div class="length">{{movie?.lengthMinutes}} minutes | {{movie?.releaseDate | date}}.</div>
                    
                    <div class="desc"><p><strong>Description: </strong>{{movie?.movieDesc}} </p></div>
        
                    <div class="trailer">
                        <p>
                        <strong>Trailer: </strong>
                        <a (click)="trailerLink(movie.trailerUrl)" >{{movie?.trailerUrl}}</a>
                        </p>
                    </div>
        
                    <div class="creators">
                        <p>
                        <strong>Director:</strong> {{movie?.movieDirectors}}
                        </p>
                    </div>
                    <div class="creators">
                        <p>
                        <strong>Writers:</strong> {{movie?.movieWriters}}
                        </p>
                    </div>
                    <div class="creators">
                        <p>
                        <strong>Actors:</strong> {{movie?.movieActors}}
                        </p>
                    </div>

                    <div class="allow">
                        <button (click)="allowRequest(movie?.movieId)" mat-raised-button > Allow </button>
                    </div>
                    <div class="deny">
                        <button mat-raised-button (click)="denyRequest(movie?.movieId)" > Deny </button>
                    </div>

                </div>
                
            </div>
            

        </mat-card>

</div>
