.media-left img{
    padding: 20px;
    width: 210px;
}

.media-body{
    margin-top: 10px;
}

.mat-card{
    margin: 20px;
    background-color: darkgray;
}

.title{
    padding: 10px 10px 0px 10px;
    font-size: 30px;
    font-weight: bold;
}

.trailer a{
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

.length{
    margin-bottom: 10px;
}

.allow{
    position: absolute;
    right: 80px;
    bottom: 10px;
}

.deny{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.allow button{
    background-color:rgb(139, 212, 151);
}

.deny button{
    background-color:rgb(238, 78, 78);
}

