.body{
    position: inherit;
    height: 100%;
    padding: 20px;
    background: rgb(231, 236, 240);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.body img{
    padding: 20px;
    width: 200px;
}

.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
.star:hover {
    cursor: pointer;
}
.filled {
    color: #1e90ff;
  }


.left button{
    color: black;
    background-color:rgb(228, 202, 163);
    text-align: left;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 15px;
    border-radius: 10px;
    margin-top: 15px;
    border: 1;
    width: 205px;
}

.body button:hover{
    background-color: rgb(205, 214, 154);
    
}
.body button:focus{
    background-color: rgb(205, 214, 154);
    outline: none;
} */

.title{
    padding: 10px;
    margin-bottom: 13px;
    font-size: 60px;
    font-weight: bold;
}

.desc{
    padding: 10px;
}

.trailer{
    padding-bottom: 10px;
    padding-left:  10px;
}

.creators{
    padding-bottom: 5px;
    padding-left:  10px;
}

.length{
    padding-left:  10px;
    padding-bottom: 10px;
}

.splitscreen {
    display:flex;
}  

.left{
    flex: 0;
}

.mat-card{
    margin: 5px;
    margin-top: 10px;
    background-color: rgb(209, 213, 216);
    padding: 20px;
    word-break:break-word;
}

.mat-card h1{
    margin-left: 40px;
}

.mat-card button{
    margin-left: 40px;
}

.reviewline{
    width: 100%;
}

.reviewPostdate{
    font-size: 15px;
}
.reviewPostdate span{
    font-size: 20px;
    font-weight: 500;
}

.mat-card button{
    float:right;
    width: 100px;
}
