<div class="body">
    <div class="splitscreen">
  
        <div class="left">
            <img [src]="movie?.posterImgUrl" alt="" >
            <button (click)="addWatchlist()"><strong>+ </strong>Add to Watchlist</button><br/>
            <button (click)="addDiary()"><strong>+ </strong>Add to Viewed</button>
            <button *ngIf="userService.isAdmin()" (click)="openEditMovie()" ><strong>+ </strong>Edit</button>
            <button routerLink="/movies" *ngIf="userService.isAdmin()" (click)="deleteMovie()" ><strong>+ </strong>Delete</button>
        </div>
      
        <div class="right">
            <div class="title">
                {{movie?.movieTitle}}
            </div>
            <button mat-fab color="accent" (click)="rateMovie()">
                <span *ngIf="userRating?.grade!=0">{{userRating?.grade}}</span>
                <span *ngIf="userRating?.grade==0" class="star">&#9733;</span>
            </button>
            <span>{{totalRating}}</span>
            {{movieService.getMovieGenres(movie)}}
            <div class="length">{{movie?.lengthMinutes}} minutes | {{movie?.releaseDate}}.</div>

            <div class="length">{{movie?.lengthMinutes}} minutes | {{movie?.releaseDate | date}}.</div>
            
            <div class="desc"><strong>Description: </strong>{{movie?.movieDesc}} </div>

            <div class="trailer">
                <strong>Trailer: </strong>
                <a (click)="trailerLink()"  >{{movie?.trailerUrl}}</a>
            </div>

            <div class="creators">
                <strong>Director:</strong>
                Daniel Mac
            </div>
            <div class="creators">
                <strong>Writers:</strong>
                G.A. Martin
            </div>
            <div class="creators">
                <strong>Actors:</strong>
                Lopez Algan
            </div>
        </div>
        
    </div>

    <mat-card>
        
        <div *ngIf="reviewsLength==1">{{reviewsLength}} Review</div>
        <div *ngIf="reviewsLength!=1">{{reviewsLength}} Reviews</div>
        

        <p>
            <mat-form-field class="reviewline">
                <mat-label>Leave a review</mat-label>
                <input matInput [(ngModel)] = "reviewText">
                <button *ngIf = "reviewText" (click)="addReview({movieId: movieId, reviewText: reviewText})" 
                mat-button matSuffix mat-stroked-button >
                    Add
                </button>
            </mat-form-field>
        </p>
        
        <div *ngFor = "let review of reviews[movie?.movieId]"> 
            <div class="reviewPostdate">
                <span>{{review.user.username}} </span>
                {{review.postDate | date}}
            </div>
            <p> {{review.reviewText}}</p>
            
        </div>
        
    </mat-card>
</div>