<div class="container-fluid">
    <mat-card>
    <div class="media">
  
        <div class="media-left">
            <img alt="" [src]="movie?.posterImgUrl">
        </div>
      
        <div class="media-body">

            <div class="Row title">
                <div class="Column"><strong>{{movie?.movieTitle}}</strong></div>
                <div class="Column">
                    <button mat-raised-button (click)="addDiary()">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
                <div class="Column">
                    <button mat-raised-button (click)="addWatchlist()"><mat-icon>add</mat-icon></button>
                </div>
            </div>

            <p>{{movie?.lengthMinutes}} minutes | {{movie?.releaseDate | date}} | {{movieService.getMovieGenres(movie)}}</p>
            
            <p><strong>Description: </strong>{{movie?.movieDesc}} </p>

            <p>
                <strong>Trailer: </strong>
                <a (click)="trailerLink()"  >{{movie?.trailerUrl}}</a>
            </p>

            <p>
                <strong>Director: </strong>{{movie?.movieDirectors}}
            </p>

            <p>
                <strong>Writers: </strong>{{movie?.movieWriters}}
            </p>

            <p>
                <strong>Actors: </strong>{{movie?.movieActors}}
            </p>
        </div>
        
    </div>
    
        <div *ngIf="reviewsLength==1">{{reviewsLength}} Review</div>
        <div *ngIf="reviewsLength!=1">{{reviewsLength}} Reviews</div>

        <p>
            <mat-form-field class="reviewline">
                <mat-label>Leave a review</mat-label>
                <input matInput [(ngModel)] = "reviewText">
                <button *ngIf = "reviewText" (click)="addReview({movieId: movieId, reviewText: reviewText})" 
                mat-button matSuffix mat-stroked-button >
                    Add
                </button>
            </mat-form-field>
        </p>
        
        <div *ngFor = "let review of reviews[movie?.movieId]"> 
            <div class="reviewPostdate">
                <span>{{review.user.username}} </span>
                {{review.postDate | date}}
            </div>
            <p> {{review.reviewText}}</p>
            
        </div>

        <!-- Fixed buttons are here -->
        <div class="editbutton">
            <button mat-raised-button *ngIf="userService.isAdmin()" (click)="openEditMovie()" >Edit</button>
        </div>
        <div class="deletebutton">
            <button mat-raised-button routerLink="/movies" *ngIf="userService.isAdmin()" (click)="deleteMovie()" >Delete</button>
        </div>
        <button mat-fab (click)="rateMovie()">
            <span *ngIf="userRating?.grade!=0 && authService.isLoggedIn()">{{userRating?.grade}} | {{totalRating}}</span>
            <span *ngIf="userRating?.grade==0 || !authService.isLoggedIn()" class="star">{{totalRating}}</span>
        </button>
        
    </mat-card>
</div>