.container-fluid{
    padding: 20px;
}

.media-left img{
    padding: 20px;
    width: 200px;
}

.media-body{
    padding: 10px;
    margin-top: 15px;
}

/* .star {
    font-size: 1.5rem;
    color: #4274b4;
}

.star:hover {
    cursor: pointer;
} */

.filled {
    color: #1e90ff;
}


.mat-mini-fab{
    background-color:rgb(205, 214, 154);
}

.media a{
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}


.mat-card{
    margin: 5px;
    margin-top: 10px;
    background-color: rgb(209, 213, 216);
    padding: 20px;
    word-break:break-word;
}

.mat-card h1{
    margin-left: 40px;
}

.reviewline button{
    margin-left: 40px;
    float: right;
    width: 100px;
}

.reviewline{
    width: 100%;
}

.reviewPostdate{
    font-size: 15px;
}
.reviewPostdate span{
    font-size: 20px;
    font-weight: 500;
}

.mat-raised-button{
    background-color: rgb(225, 252, 238);
}

.mat-raised-button:hover{
    background-color: rgb(205, 214, 154);
}

.title{
    font-size: 30px;
}

.editbutton{
        position: absolute;
        right: 80px;
        top: -10px;
}

.deletebutton{
    position: absolute;
    right: -10px;
    top: -10px;
}

.mat-fab{
    position: absolute;
    left: 20px;
    top: 20px;
}

.Row {
    display: table;
}

.Column {
    display: table-cell;
    padding: 10px
}