<div class="backdrop"></div>
<form class="box">
            <h1>Create an account</h1>
            <input type="text" name="" placeholder="Username">
            <input type="text" name="" placeholder="Email">
            <input type="password" name="" placeholder="Password">
            <input type="password" name="" placeholder="Confirm Password">
            <button routerLink="**">Register</button><br/>
            <a routerLink="/login" class="btn btn-link">Already have an account?</a>
</form>